header {
    height: 56px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    .logo-holder {
        flex: 0.25;
        display: flex;
        justify-content: center;
        margin-right: -40px;
    }
    nav {
        flex: 1;
        ul {
            list-style: none;
            margin-top: 26px;
            li {
                display: inline-block;
                font-size: 16px;
                font-weight: bold;
                margin-left: 80px;
                a {
                    display: inline-block;
                    text-decoration: none;
                    color: #2e266f;
                    font-weight: bold;
                }
            }
        }
    }
}
.mainNav {
    height: 6rem;
    #navbarTogglerDemo01 {
        align-items: flex-end;
        .navbar-brand {
            margin-left: 173px;
        }
        .listHolder {
            margin-left: 3%;
            font-size: 16px;
            width: 54rem;
            .nav-item {
                margin-left: 7%;
            }
        }
        .dropdown #dropdownMenuLink {
            background: none;
            border: none;
            margin-right: 12rem;
        }
    }   
}